/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body,.stylelint{line-height:inherit}ol,ul,.stylelint{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

html {
  font-size: 1.25em; /*20/16=1.25*/
  line-height: 1.25em; /*25/20=1.25*/
  font-family: 'Cormorant Garamond', serif;
}

body {
  background-color: black;
}

#banner {
  background-image: url("images/img5.jpeg");
  background-position: top;
  padding-top: 30%;
  background-size: cover;
  background-repeat: no-repeat;
}

#formsection {
  background-image: url("images/background.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Courgette', cursive;
}

#logo {
  display: block;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 25%;
}

#text {
  background-color: black;
  padding-top: 1%;
  padding-bottom: 1%;
}

#introtext {
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 5%;
  padding-left: 5%;
}

form {
  padding: 0.6em 1em; /*12/20=.6 20/20=1*/
  border: 0;
}

#name,
#email,
#phone,
#level,
#day,
#time,
#location {
  width: 100%;
  height: 2em;
}

footer {
  background-color: black;
  color:white ;
  text-align: center;
  position: absolute;
  left: 0;
  width: 100%;
}

@media screen and (min-width: 600px) {

  li {
    padding-bottom: 1.25em; /*25/20=1.25*/
  }

  ol {
    padding-top: 25px;
    padding-left: 25%;
    padding-right: 25%;

  }
  #formsection {
    background-position: center;
    background-attachment: fixed;
  }

  #banner {
    background-attachment: fixed;
    background-position: center;
    padding-top: 5%;
  }

  #introtext {
    padding-right: 20%;
    padding-left: 20%;
  }

  #logo {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    padding-bottom: 5%;
  }

}
